@page
@model TheGreenBowl.Pages.Menu.DetailsModel

@{
    ViewData["Title"] = $"{Model.tblMenu.name} Menu";
}

<div>
    <h1>@Html.DisplayFor(model => model.tblMenu.name)</h1>

    <h4>@Html.DisplayFor(model => model.tblMenu.description)</h4>
    <hr/>
</div>

<h5>Items</h5>
@if (Model.tblMenu.MenuItems?.Any() == true)
{
<table class="table table-striped">
    <thead>
    <tr>
        <th>@Html.DisplayNameFor(model => model.tblMenu.MenuItems.First().menuItem.name)</th>
        <th>@Html.DisplayNameFor(model => model.tblMenu.MenuItems.First().menuItem.description)</th>
        <th>@Html.DisplayNameFor(model => model.tblMenu.MenuItems.First().menuItem.price)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var menuItem in Model.tblMenu.MenuItems)
    {
    <tr>
        <td>@menuItem.menuItem.name</td>
        <td>@menuItem.menuItem.description</td>
        <td>@menuItem.menuItem.price.ToString("C")</td>
    </tr>
    }
    </tbody>
</table>
}
else
{
<p>No menu items available for this menu.</p>
}

<div>
    <a asp-page="./Edit" asp-route-id="@Model.tblMenu.menuID">Edit</a> |
</div>