@page
@model TheGreenBowl.Pages.Menu.IndexModel

@{
    ViewData["Title"] = "Menus";
}

<h1>Menus</h1>


<table class="table">
    <thead>
    <tr>
        <th>Menu Name</th>
        <th>Menu Description</th>
        <th>Categories</th>
        <th>Items Count</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var menu in Model.Menus)
    {
        <tr>
            <td>@menu.name</td>
            <td>@menu.description</td>
            <td>
                <ul>
                    @foreach (var category in menu.Categories)
                    {
                        <li>@category.name</li>
                    }
                </ul>
            </td>
            <td>@menu.TotalItems</td>
            <td>
                <a asp-page="./Details" asp-route-id="@menu.menuID">View</a>
            </td>
        </tr>
    }
    </tbody>
</table>